.caixaDoCard{
    border-radius: 5px;
    box-shadow: 2px 5px 5px black;
    width: 350px;
    background-color: white;
    color: black;
    padding: 10px;
    font-family: "Flexo-Demi", arial, sans-serif;
}
.caixaDeImagemCard{
    background-color: #F2F2F2;
}
.imagemDosPersonagens{
    height: 350px;
   
}

.racaCard{
    font-size: 18px;
    border: 1px solid rgb(48, 44, 44);
    border-radius: 5px;
    width: 50%;
    margin:10px auto;
    padding: 2px;
    background-color: rgb(255, 0, 0);
    color: white;
    box-shadow: 3px 1px 3px -1px rgba(0,0,0,0.75);
}
.nomeCard{
    font-weight: 500;
    /* color: rgb(251, 192, 45) ; */
    color: rgb(54, 51, 51);
}
@media (min-width:320) and(max-width:480){
    .caixaDoCard{
        
    }
}